<div class="container">
  <table class="table col-8 mx-auto">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nr inmatriculare</th>
        <th scope="col">Companie</th>
        <th scope="col">Tarif</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars | async" (click)="gotoRequests(car.id)">
        <th>{{ car.id }}</th>
        <td>{{ car.company.name }}</td>
        <td>{{ car.tarif }}</td>
      </tr>
    </tbody>
  </table>
</div>
