<div class="container" *ngIf="(taxi | async) as taxiCar">
  <h3>Cerere taxi - {{ taxiCar.company.name }}</h3>

  <div class="col-6 mx-auto">
    Destinatie
    <input #dest type="text" placeholder="Scrie aici destinatia..." class="form-control">
    <button class="btn btn-outline-primary mt-2 col-3 mx-auto" (click)="makeRequest(dest.value)">Trimite</button>
  </div>
</div>
