<div class="container">
  <table class="table col-8 mx-auto" *ngIf="(requests | async) as taxiRequests">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Companie</th>
      <th scope="col">Destinatie</th>
      <th scope="col">In Desfasurare</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let req of taxiRequests.reverse()">
      <th>{{ req.requestTime | date: 'medium' }}</th>
      <td>{{ req.taxiCar.company.name }}</td>
      <td>{{ req.destination1 }}</td>
      <td>{{ !!req.complete ? 'NU' : 'DA' }}</td>
    </tr>
    </tbody>
  </table>
</div>
