<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<a href="/taxicab/">Show Cars</a>
<ul>
    <li th:each="taxicar : ${Cars}"
        th:text="${taxicar.getId()}"></li>
</ul>
</body>
</html>