<div class="container col-6 mx-auto">
    <form (submit)="onSubmit($event, username, password)">
        <div class="form-group">
          <label>Username</label>
          <input #username type="text" class="form-control" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input #password type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary col-3" (click)="onSubmit($event, username, password)">Login</button>
      </form>
</div>