<div class="container col-6 mx-auto">
  <h3>{{ isCompany ? 'Adaugare companie' : 'Inregistrare utilizator' }}</h3>

  Utilizator
  <input type="text" #username class="form-control">
  Nume Complet
  <input type="text" #name class="form-control">
  Parola
  <input type="password" #password class="form-control">

  <button class="btn btn-outline-primary col-3 mt-3" (click)="submit(username.value, password.value, name.value)">Trimite</button>
</div>
